######################
# Logs and databases #
######################
*\.log
.DS_Store

####################
# Eclipse metadata #
####################
\.project
\.pydevproject
\.settings/

#############
# vim files #
#############
*\.swp
*~
\#*\#

################# 
# pycharm files #
#################
\.idea


########################
# files under licences #
########################
coregenebuilder.tar.gz
opscan_src_files.tar.gz

